<div class="container ">
    <div class="row justify-content-center" style="margin-top: 100px;">
        <div class="text-center col-6 ">

            <form action ="add/card"  method = "post">

                <div class="form-group">
                    <label for="bank">Bank: </label>
                    <input type="text" class="form-control" id="bank" name="bank" required>

                </div>

                <div class="form-group">
                    <label for="cardnumber">Card Number: </label>
                    <input type="text" class="form-control" id="cardnumber" name="cardnumber" required>

                </div>

                <div class="form-group">
                    <label for="year">Year: </label>
                    <input type="text" class="form-control" id="year" name="year" required>

                </div>

                <div class="form-group">
                    <label for="cvv">CVV: </label>
                    <input type="text" class="form-control" id="cvv" name="cvv" required>

                </div>

                <button type = "Submit">Submit</button>

        </div>
        </form>

    </div>
</div>
</div>